/* Logo.css */
.logo {
    width: clamp(9.0625rem, 5.1861rem + 12.4046vw, 13.125rem);
    height: clamp(2.9375rem, 1.6851rem + 4.0076vw, 4.25rem);
    background-image: url('../../assets/images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
